<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <queries>
        <!-- Specific apps you interact with, eg: -->
        <package android:name="com.example.store" />
        <package android:name="com.example.service" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>

        <intent>
            <action android:name="android.intent.action.CALL" />
        </intent>
    </queries>
</manifest>